.container {
  margin-bottom: 100px;
}
.orange-bg {
  background: #fceae8;
  border-radius: 8px;
}
.carousel-item {
  padding: 20px 40px;
}
.price-color {
  color: #ff136f;
}
.primary-button {
  background-image: linear-gradient(180deg,#ff136f 0%, #c51651 100%);
  padding: 9px 25px;
  color: #fff;
  border: none;
  border-radius: 8px;
}